.container {
  padding: 50px;
  margin: auto;
  width: 80%;
}

.form {
  margin: auto;
  display: flex;
  justify-content: center;
  width: 400px;
  flex-direction: column;

}

#historical-cmp {
  display: inline-flex;
  width: 100%;
}


#historical-cmp>.params {
  display: flex;
  flex-direction: column;

}

#historical-cmp.image {
  flex: 1;
}

.image-viewer {
  padding: 30px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 400px;
}